
<form action="<%= users_url %>" method="post">
  <label for="user_name">Username</label>
  <input type="text" name="user[username]"  id="user_name">

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">

  <input type="submit">
</form>
